@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
body {
  	margin: 0; line-height: normal;
}
*{
    color: black;
    font-family: "Poppins";
}
.main-container{
    width: 100vw;
    height: 100vh;
    background: #F2F3F7;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}
.sidebar{
    width: 254px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0px 0px 14.6px 94px rgba(244, 239, 239, 0.24);

}

.sidebar-top{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo-label{
    font-size: 36px;
    font-weight: 600;
    color: #383644;
}
.nav-links{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-link{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.nav-selected{
    background: #46455A;
    color: white;
    height: 58px;
    padding: 10px 20px;
    border-radius: 10px;
}
.other-link{
    color: #acacac;
    padding: 10px 20px;
}
.nav-selected *{
    color: #fff;
}
.other-icon *{
    color: #acacac;
}
.icon{
    width: 20px;
}
.sidebar-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}
.logout-btn{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    font-style: normal;
    color: #f2bfbd;
}
.logout-icon{
    transform: scaleX(-1);
    color: #f2bfbd;
}
.logout-icon *{
    color: #f2bfbd;
}

.logout-line {
    width: 100%;
    position: relative;
    border-top: 1px solid #ababab;
    box-sizing: border-box;
    height: 1px;
}
.right-container{
    width: 100%;
    height: 100%;
    padding: 16px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}
.header-title{
    font-size: 26px;
    font-weight: 600;
    font-family: Poppins;
    color: #000;
    text-align: left;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.notif-container, .user-eclipse{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;align-items: center;
    justify-content: center;
}
.right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.user-name{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
    color: #000;
    text-align: left;
}

.home-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-body{
    width: 754px;
    border-radius: 15px;
    background-color: #fff;
    height: 320px;
    gap: 26px;
}

.profile-section {
    background: white;
    
    height: fit-content;
    border-radius: 15px;
    padding: 80px 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
    font-size: 24px;
    font-weight: 600;
    color: #6C798E;
    margin-bottom: 20px;
  }
  
  .profile-content {
    display: flex;
    gap: 20px;
  }
  
  .profile-image {
    position: relative;
    height: fit-content;
  }
  
  .profile-image img {
    width: 154px;
    height: 154px;
    border-radius: 10px;
  }
  
  .edit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    border: 1px solid #C2CBD2;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: -15px;
    margin-bottom: -15px;
  }
  .edit-button img{
    width: 30px;
    height: 100%;
  }
  
  .profile-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap:20px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-group {
    flex: 1;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #747B8F;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #F6F7F9;
    border-radius: 5px;
    background-color: #F2F3F7;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background: white;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
